# Dependencies
node_modules
.pnpm-store

# Build output
.vitepress/dist
.vitepress/cache

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
